## To be included in the 'location ~ \.php$ {' section
#try_files $uri =404;

fastcgi_index index.php;
fastcgi_pass php_workers;

# FCGI Caching
fastcgi_cache FCGICACHE;

# Fix the HTTPROXY issue.
# Reference: https://httpoxy.org/
fastcgi_param HTTP_PROXY '';

include fastcgi_params;
fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

